<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block titulo %}<title>Login</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'home/Bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/Bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'home/home_static/css/css.css' %}">
    <script src="{% static 'home/Bootstrap/js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'home/Bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
{% block conteiner %}

{% endblock %}
</body>
</html>